

// Font Sizes
$page-logo-size: 20px;

// Text Color
$text-header: $white;
$text-header-anchor: $white-muted;
$text-main: $white;
$text-muted: $white-muted;
$text-footer: $white-muted;
$text-anchor: $white-focus;
$text-light-bg: $gray--dark;
