

.artboard-tile {
    width: calc(33.3% - 16px);
    float: left;
    margin-left: 16px;
    margin-top: 16px;
}
.artboard-tile:nth-child(3n + 1) {
    margin-left: 0;
}

.artboard-tile {
    cursor: pointer;
}
.artboard-tile:hover .card-text {
    text-decoration: underline;
}

.artboard-tile:hover .empty-artboard-preview:before {
    color: white;
}
.empty-artboard-preview:before {
    content: '+';
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    font-size: 200px;
    color: grey;
}
