

.form-control {
    display: block;
    width: 100%;
    padding: 8px 16px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    
    & > .form-label {
        display: block;
        width: 25%;
        float: left;
        text-align: right;
        margin-right: 16px;
    }
    & > button, & > input {
        float: left;
        max-width: 75%;
    }
    
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
