

@mixin user-select($val) {
    -ms-user-select: $val;
    -moz-user-select: $val;
    -webkit-user-select: $val;
    user-select: $val;
}

@mixin anchorColor($color: $text-anchor, $opacity: false) {
    color: $color;
    &:focus {
        color: $color;
        border-color: $color;
    }
    &:hover { &, &:focus {
        @if ($opacity) {
            opacity: $opacity;
        }
        @else {
            color: darken($color, 10%);
            border-color: darken($color, 10%);
        }
    }}
}
