<ng-container *ngLet="artboardNameObservable | async as name">
    <ng-container *ngIf="artboardObservable | async as art; else noArtboard">
        <div class="mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <h1>{{name}}</h1>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary pull-right" type="button" (click)="saveArtboard(name)">
                            <i class="fa fa-save mr-2"></i>
                            Save
                        </button>
                        <button class="btn btn-danger pull-right mr-2" type="button" (click)="deleteArtboard(name)">
                            <i class="fa fa-trash mr-2"></i>
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                <i class="fa fa-wrench mr-2"></i>
                                Tools
                            </h4>
                            <div class="btn-group" ngbRadioGroup name="currentTool" [(ngModel)]="currentTool">
                                <label ngbButtonLabel class="btn-primary" (click)="currentTool = 0"> <!-- HACK! -->
                                    <input ngbButton type="radio" [value]="0" /><i class="fa fa-mouse-pointer"></i>
                                </label>
                                <label ngbButtonLabel class="btn-primary" (click)="currentTool = 1">
                                    <input ngbButton type="radio" [value]="1" /><i class="fa fa-pencil"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h4 class="card-title mb-0">
                                <input [(colorPicker)]="color" [style.background]="color" class="color-picker color-picker-lg mr-2" />
                                Color
                            </h4>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h4 class="card-title">
                                <i class="fa fa-file mr-2"></i>
                                Layers
                            </h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <svg
                      class="artboard-editor"
                      width="600"
                      height="400"
                      viewBox="0 0 600 400"
                      preserveAspectRatio="none"
                      #svg
                      (mousemove)="svgMouseMoved(svg)"
                      (click)="svgClicked($event)">
                        <svg:path
                          *ngFor="let path of paths"
                          [attr.d]="path.d"
                          [style.fill]="path.color"
                          [style.outline]="'black'"
                          [style.outline-width]="(currentPath === path) ? 5 : 0"
                          (click)="pathClicked(path, $event)"
                        />
                    </svg>
                </div>
                <pre>{{currentPath | inspect}}</pre>
            </div>
        </div>
    </ng-container>
    
    <ng-template #noArtboard>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mt-3">
                        <h1>Not Found</h1>
                    </div>
                    <p class="lead">
                        This artboard does not exist.
                        Return to the <a [routerLink]="['/artboards']">list of artboards</a>
                    </p>
                </div>
            </div>
        </div>
    </ng-template>
</ng-container>
